<h1>Skill Trade</h1>


<p>Find me in app/views/static_pages/home.html.erb</p>

 <div class="span8 welcome-image">


  <div id="myCarousel"
          class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
                  <div class="active item">
                          <a href="/users/sign_up"><img src="/pictures/1.png"> </a>
                  </div>
                  <div class="item">
                          <a href="/users/sign_up"><img src="/pictures/2.png"> </a>
                  </div>
                  <div class="item">
                          <a href="/users/sign_up"><img src="/pictures/3.png"> </a>
                  </div>
                  <div class="item">
                          <a href="/users/sign_up"><img src="/pictures/4.png"> </a>
                  </div>
                  <div class="item">
                          <a href="/users/sign_up"><img src="/pictures/WordcloudInsight.png"> </a>
                  </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>